 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Employee</h1>
    <div class="row">
        <div class="col-4 my-4">
            <a class="btn btn-primary" [routerLink]="['add']" >Add New</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" *ngIf="successMessage != '' ">
                {{ successMessage }}
            </div>
            <div class="alert alert-danger" *ngIf="errorMessage != '' ">
                {{ errorMessage }}
            </div>
        </div>    
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Salary</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees; let i= index;">
                            <td>{{ i+1 }}</td>
                            <td>{{ employee.empId }}</td>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.age }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.phone }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>
                                <a [routerLink]="['view', employee._id]" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View" class="btn btn-sm m-sp-none btn-primary mr-2"><i class="fa fa-eye"></i></a>
                                <a [routerLink]="['edit', employee._id]" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit" class="btn btn-sm m-sp-none btn-warning mr-2"><i class="fa fa-wrench"></i></a>
                                <a [routerLink]="['delete', employee._id]" id="delete" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete" class="btn btn-sm m-sp-none btn-danger"><i class="fa fa-trash"></i></a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.9)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- /.container-fluid -->
